/**
============================================
Title: composer-list.component.css
Author: Oksana Kustova
Date: 1/29/2022
Description: Style for composer list.
===========================================
*/

.formSearch {
  width: 30%;
  float: right;
  margin-bottom: 5px;
}
