<!--
============================================
Title: about.component.html
Author: Oksana Kustova
Date: 02/02/2022
Description: HTML template for AboutComponent.
===========================================
-->
<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <figure>
        <img src="assets/P.G._Wodehouse,_1930.jpg" alt="P.G.Wodehouse, 1930" />
        <figcaption>
          <em>
            P.G.Wodehouse, 1930. Source:
            <a
              href="https://en.wikipedia.org/wiki/P._G._Wodehouse"
              target="_blank"
              class="attribution-link"
              >en.wikipedia.org</a
            >
          </em>
        </figcaption>
      </figure>
    </div>
  </div>

  <div fxFlex>
    <h1 class="blue">Who was P.G. Wodehouse?</h1>
    <p>
      P.G. Wodehouse, in full Sir Pelham Grenville Wodehouse, (born October 15,
      1881, Guildford, Surrey, England—died February 14, 1975, Southampton, New
      York, U.S.), English-born comic novelist, short-story writer, lyricist,
      and playwright, best known as the creator of Jeeves, the supreme
      “gentleman's gentleman.” He wrote more than 90 books and more than 20 film
      scripts and collaborated on more than 30 plays and musical comedies. His
      plots are highly complicated and carefully planned. Whatever the dates of
      publication of his books, Wodehouse's English social atmosphere is of the
      late Edwardian era.
    </p>
    <em
      >Source:
      <a
        href="https://www.britannica.com/biography/P-G-Wodehouse"
        target="_blank"
        class="attribution-link"
        >www.britannica.com</a
      ></em
    >
  </div>
</div>
