<!--
============================================
Title: about.component.html
Author: Oksana Kustova
Date: 01/16/2022
Description: HTML template for AboutComponent.
===========================================
-->
<div class="container">
  <br /><br />
  <h3>Frédéric Chopin</h3>

  <hr />
  <div class="row">
    <div class="col-sm-4">
      <figure class="figure">
        <img src="assets/composer.jpg" class="figure-img img-fluid rounded" alt="...">
        <figcaption class="figure-caption">Frédéric Chopin. Source: <a href="https://www.pngwing.com">www.pngwing.com</a></figcaption>
      </figure>

    </div>
    <div class="col-sm-8">
      <p class="fs-4 lh-base">
        Frederic Chopin (1810-1849) was a Polish composer and virtuoso pianist
        of French-Polish parentage. He arrived in Paris in September 1831, and
        never returned to his homeland of Poland. He is considered one of the
        great masters of Romantic music.
      </p>
      <p class="fs-4 lh-base">
        Most of Chopin's music was written for the piano. He wrote 59 mazurkas,
        27 études, 27 preludes, 21 nocturnes, and 20 waltzes for the instrument.
        Chopin wrote around 23 polonaises throughout his life. His most famous
        examples are the Military' Polonaise in A, 'Heroic' or 'Drum' Polonaise
        in A-flat. Like much of Chopin's music, most of the pieces are written
        for solo piano, but the Andante spianato et grande polonaise brillante
        is an orchestral piece.
      </p>
      <p class="fs-6">
        <a href="https://www.classicfm.com/composers/chopin/">Source</a>
      </p>
    </div>
  </div>
</div>
