/**
============================================
Title: app.component.scss
Author: Oksana Kustova
Date: 02/02/2022
Description: Style for AppComponent.
===========================================
*/

.logo {
  margin-top: 5px;
}

.main-container {
  padding-top: 25px;
  width: 80%;
  margin: 0 auto;
}
