<!--
============================================
Title: wishlist-create.component.html
Author: Oksana Kustova
Date: 02/13/2022
Description: HTML template for WishListCreateComponent.
===========================================
-->

<form fxLayout="column" class="wishlist-create-form">
  <mat-form-field fxFlex appearance="fill">
    <mat-label>Title</mat-label>
    <input type="text" name="title" matInput [(ngModel)]="item.title" />
  </mat-form-field>

  <mat-form-field fxFlex appearance="fill">
    <mat-label>Authors</mat-label>
    <input type="text" name="authors" matInput [(ngModel)]="item.authors" />
  </mat-form-field>

  <button mat-button color="primary" (click)="addItem()">Add item</button>
</form>
