<!--
============================================
Title: contact.component.html
Author: Oksana Kustova
Date: 02/02/2022
Description: HTML template for ContactComponent.
===========================================
-->
<div fxLayout="row wrap">
  <div fxFlex>
    <mat-card-title class="card-title-icon">
      <mat-icon color="primary"> location_on</mat-icon>
    </mat-card-title>
    <br />
    <mat-card-content class="align-center">
      <p>111 Green street</p>
      <p>Seattle, Washington</p>
    </mat-card-content>
  </div>

  <div fxFlex>
    <mat-card-title class="card-title-icon">
      <mat-icon color="primary">contact_phone</mat-icon>
    </mat-card-title>
    <br />
    <mat-card-content class="align-center">
      <p>Phone: (111) 111-1111</p>
      <p>Fax: (111) 111-1111</p>
    </mat-card-content>
  </div>
</div>

