/**
============================================
Title: book-details-dialog.component.scss
Author: Oksana Kustova
Date: 02/05/2022
Description: Style for BookDetailsDialog component.
===========================================
*/
.book-details {
  padding: 25px;
  line-height: 1.6;
  font-size: 16px;
}

.description {
  padding-left: 20px;
  font-weight: lighter;
}
